* {
  margin: 0;
  padding: 0;
}
#root {
  margin-top: 5%;
  font-family: Arial, Helvetica, sans-serif;
}

.generalInfoTable {
 font-size: x-large;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  height: 5em;
  table-layout: fixed;
  margin-top: 6.2%;
  width: 40em;
 
}

.hide_button {
  visibility: hidden;
}
.show_button {
  visibility: visible;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

th {
  height: 2.5em;
}


form {
  display: grid;
  width: 25em;
}


.inputform {
 color: black;
 height: 250px;
}


#printButton {
  height: 2em;
  width: 3em;
  font-size: larger;
  margin-left: 94%;
}

#printButton:hover {
  transform: skewX(200deg);
}

.infoBlock {
  margin: 2%;
  display: grid;
  grid-template-columns: repeat(3, auto);
}

@media print {
  .inputform  {
    display: none;
  }
  .infoBlock {
    display: block;
  }
  table {
    width: 100% !important;
    font-size: medium;
  }
  #printButton {
    display: none;
  }
}
