* {
  margin: 0;
  padding: 0;
}

.generalInfoSection {
 font-size: xx-large;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  width: 150px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#root {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
